body {
    margin: 0;
    background-color: #252525;
  }
  
  canvas {
    display: block;
    vertical-align: bottom;
  }
  
  
  /* ---- particles.js container ---- */
  
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
  }